{% extends "header.html" %}
{% block content %}
<h2>Admin View</h2>
<nav>
    <u1>
        <li><a href="/req1">L’historique des commentaires et des posts pour un utilisateur donné</a></li>
        <br />
        <li><a href="/req2">Les informations relatives aux badges de l'utilisateur d'un post donné</a></li>
        <br />
        <li><a href="/req3">La liste des posts dont le titre ou le corps contient un mot clef donné, trié par le nombre de commentaires associés</a></li>
        <br />
        <li><a href="/req4">La liste des posts actifs pour un utilisateur, trié par le score du post (c’est-à-dire les posts qu'il a créé ou commenté et qui n’ont pas encore été fermés.) </a></li>
        <br />
        <li><a href="/req5">Le post ayant la durée d'activité la plus longue par tag (pour le tag 1 c’est le post Y ; pour le tag 2 c’est le post X etc…)   </a></li>
        <br />
        <li><a href="/req6">L'utilisateur le plus actif en prenant en considération le nombre de votes positifs et le nombre de commentaires  </a></li>
        <br />
        <li><a href="/req7">Le pourcentage d’obtention de chaque badge </a></li>
        <br />
        <li><a href="/req8">L’âge moyen des utilisateurs commentant les posts d’un certain tag</a></li>
    </u1>
</nav>
{% endblock %}
