{% extends "header.html" %}
{% block content %}
<h2>Analyst View</h2>
<nav>
    <u1>
        <li><a href="/req5">Le post ayant la durée d'activité la plus longue par tag (pour le tag 1 c’est le post Y ; pour le tag 2 c’est le post X etc…)   </a></li>
        <br />
        <li><a href="/req6">L'utilisateur le plus actif en prenant en considération le nombre de votes positifs et le nombre de commentaires  </a></li>
        <br />
        <li><a href="/req7">Le pourcentage d’obtention de chaque badge </a></li>
        <br />
        <li><a href="/req8">L’âge moyen des utilisateurs commentant les posts d’un certain tag</a></li>
    </u1>
</nav>
{% endblock %}