{% extends "header.html" %}
{% block content %}
<body class="text-light">
    <th>{{query_description}}</th>
    <br />
    <br />
    <th>Temps d'execution : {{time}}</th>
    <br />
    <br />
    <tbody>
        {% if req7 %}
        <td>Badges & Pourcentages :</td>
        </br>
        {% endif %}
        {% for x in data %}
                        {% if req1 %}
                            <tr>
                                <td>PostIds : {{x.PostIds}}</td></br>
                                <td>CommentIds : {{x.CommentId}}</td>                 
                                <br />
                            </tr>
                        {% elif req2 %}
                            {% for badge in x.Badges %}
                                <p>Badge : {{badge['Name']}},&nbsp&nbsp&nbsp Date d'Obtention : {{badge['Date']}}</p>
                            {% endfor %}
                        {% elif req3 %}     
                            <td>Title : {{x.Title}}</td></br>
                            <p>{{x.Body}}</p>
                        {% elif req4 %}
                            <td>Id : {{x.Id}} --></td>
                            <td>Score :{{x.Score}}</td>
                            </br>
                        {% elif req5 %}
                            <td>Tag :  {{x._id}},</td>
                            <td>Temps :  {{x.maxTime}}</td></br>
                            <!--<p>{{x}}</p>-->
                        {% elif req6 %}
                            <td>User_Id :  {{x._id.Id}}</td></br>
                            <td>Name :  {{x._id.DisplayName}}</td></br>
                            <td>Votes Positif :  {{x._id.UpVotes}}</td>
                        {% elif req7 %}
                            <td>{{x._id}} --></td>
                            <td>{{x.pourcentage}} %</td>
                            </br>
                        {% elif req8 %}
                            <p>Age Moyen : {{x.ageAverage}} ans</p>
                        {% endif %}
        {% endfor %}
    </tbody>
    {% endblock %}
</body>