{% extends "header.html" %}
{% block content %}
<h2 class="text-light" >User View</h2>
<ul class="text-light" >
    <li>
        L’historique des commentaires et des posts pour un utilisateur donné
            <form action="/req1" method="post">
                <label for="id_user">User Id:</label>
                <input type="text" id="id_user" name="id_user" placeholder="Id">
                <input type="submit" value="Submit">
            </form>
    </li>
    <br />
    <li>
        Les informations relatives aux badges de l'utilisateur d'un post donné
            <form action="/req2" method="post">
                <label for="id_post">Post Id:</label>
                <input type="text" id="id_post" name="id_post" placeholder="Id">
                <input type="submit" value="Submit">
            </form>
    </li>
    <br />
    <li>
        La liste des posts dont le titre ou le corps contient un mot clef donné, trié par le nombre de commentaires associés
            <form action="/req3" method="post">
                <label for="mot_clef">Mot Clef:</label>
                <input type="text" id="mot_clef" name="mot_clef" placeholder="Mot Clef">
                <input type="submit" value="Submit">
            </form>
    </li>
    <br />
    <li>
        La liste des posts actifs pour un utilisateur, trié par le score du post (c’est-à-dire les posts qu'il a créé ou commenté et qui n’ont pas encore été fermés.)
            <form action="/req4" method="post">
                <label for="id_user">User Id:</label>
                <input type="text" id="id_user" name="id_user" placeholder="Id">
                <input type="submit" value="Submit">
            </form>
    </li>
</ul>
{% endblock %}