{% extends "header.html" %}
{% block content %}
<h2>User View</h2>
<nav>
    <u1>
        <li>
            <a>L’historique des commentaires et des posts pour un utilisateur donné</a>
                <form action="/req1" method="post">
                    <label for="id_user">User Id:</label>
                    <input type="text" id="id_user" name="id_user" placeholder="Id">
                    <input type="submit" value="Submit">
                </form>
        </li>
        <br />
        <li>
            <a>Les informations relatives aux badges de l'utilisateur d'un post donné</a>
                <form action="/req2" method="post">
                    <label for="id_user">User Id:</label>
                    <input type="text" id="id_user" name="id_user" placeholder="Id">
                    <input type="submit" value="Submit">
                </form>
        </li>
        <br />
        <li>
            <a>La liste des posts dont le titre ou le corps contient un mot clef donné, trié par le nombre de commentaires associés</a>
                <form action="/req3" method="post">
                    <label for="mot_clef">Mot Clef:</label>
                    <input type="text" id="mot_clef" name="mot_clef" placeholder="Mot Clef">
                    <input type="submit" value="Submit">
                </form>
        </li>
        <br />
        <li>
            <a>La liste des posts actifs pour un utilisateur, trié par le score du post (c’est-à-dire les posts qu'il a créé ou commenté et qui n’ont pas encore été fermés.)</a>
                <form action="/req4" method="post">
                    <label for="id_user">User Id:</label>
                    <input type="text" id="id_user" name="id_user" placeholder="Id">
                    <input type="submit" value="Submit">
                </form>
        </li>
    </u1>
</nav>
{% endblock %}