{% extends "header.html" %}
{% block content %}
<h2>User View</h2>
<nav>
    <u1>
        <li>
            <a>L’historique des commentaires et des posts pour un utilisateur donné
            <form action="/req1" method="post">
                <label for="fname">First name:</label>
                <input type="text" id="id_user" name="id_user" value="Id">
                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname" value="Doe">
                <input type="submit" value="Submit">
            </form>
            </a>
        </li>
        <br />
        <li>
            <a href="/req2">Les informations relatives aux badges de l'utilisateur d'un post donné</a>
        </li>
        <br />
        <li>
            <a href="/req3">La liste des posts dont le titre ou le corps contient un mot clef donné, trié par le nombre de commentaires associés</a>
        </li>
        <br />
        <li>
            <a href="/req4">La liste des posts actifs pour un utilisateur, trié par le score du post (c’est-à-dire les posts qu'il a créé ou commenté et qui n’ont pas encore été fermés.) </a>
        </li>
    </u1>
</nav>
{% endblock %}